<div class="container">
  <%= form_with(model: cadastro, local: true) do |form| %>
    <% if cadastro.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(cadastro.errors.count, "error") %> prohibited this cadastro from being saved:</h2>
        <ul>
          <% cadastro.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12 field">
        <%= form.text_field :nome, placeholder: "Adicione aqui sua tarefa"%>
      </div>
      <div class="col-12 actions">
        <%= form.submit "Cadastrar", class: "btn btn-outline-dark"%>
      </div>
    </div>
  <% end %>
</div>
