<div class="container mt-2">
  <%= link_to 'Nova Tarefa', new_cadastro_path, class: "btn btn-outline-primary", remote: true %>
  <p id="notice"><%= notice %></p>
  <div class="row"> 
    <div class="col-sm-8">
      <h1>Tarefas</h1>
    </div>
    <div class="col-sm-4 my-1">
      <%= form_tag cadastros_path, method: 'get' do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Pesquisar", style: "border-right: none;" %>
          <button class="input-group-text"><i class="fas fa-search"></i></button>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-hover" id='tarefas'>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= sortable "nome", 'Nome' %></th>
        <th scope="col"><%= sortable "created_at", 'Criado em' %></th>
        <th scope="col"><%= sortable "estado", 'Situação' %></th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @cadastros.each do |cadastro| %>
        <tr classs="table-text d-flex">
          <% if cadastro.estado == "Concluido" %>
            <tr class="table-active" style="opacity:0.5;text-decoration-line: line-through;">
          <% else %>
            <tr>
          <% end %>
            <%= form_with(model: cadastro, local: true) do |form| %>
              <td class="align-baseline" scope="row"> 
                <%= form.check_box :estado, {class: "form-check-input", onclick: "this.form.submit();"}, "Concluido", "Pendente" %>
              </td>
            <% end %>
            <td scope="row"><%= cadastro.nome %></td>
            <td scope="row"><%= cadastro.created_at.strftime("%d/%m/%Y") %></td>
            <td scope="row"><%= cadastro.estado %></td>
            <td>
              <%= link_to raw("<i class=\"fas fa-pen\"></i>"), edit_cadastro_path(cadastro), class: "btn btn-outline-primary", style: "border: none;", title: 'Editar','data-toggle' => 'tooltip', 'data-placement' => 'top', remote: true %>
              <%= link_to raw("<i class=\"fas fa-trash\"></i>"), cadastro, class: "btn btn-outline-danger", style: "border: none;", title: 'Deletar','data-toggle' => 'tooltip', 'data-placement' => 'top', method: :delete, data: { confirm: 'Você tem certeza?' } %>
            </td>
          </tr>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @cadastros %>
  </div>
</div>

<div class="modal fade" id="modal-cadastro"></div>